.form__wrapper{
    display: flex;
    flex-direction: column;
}
.form__label{
    font-weight:700;
    margin-bottom: 1%;
}
.form__input{
    padding: 2%;
    border: none;
    box-sizing: border-box;
    margin-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}
.form__input::placeholder{
    font-size: 1rem;
}
.form__input:focus{
    outline-color:#6278F7;
}