.form{
    display: flex;
    justify-content: space-evenly;
    padding-top: 80px;
    background-color: white;
}
.form form{
    width: 40%;
    background-color: #F6F6F6;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgba(0,0,0,10%);
    padding: 2% 5%;
    box-sizing: border-box;
}
.form__title{
    font-size: 1.778rem;
    font-weight: 400;
    margin-bottom: 2%;
    font-family:'Prata'; 
}

