.footer {
  /* height: 213px; */
  height: auto;
  background: url("../../../public/img/footer.png") no-repeat bottom center /
    cover;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 0 7%; */
  position: relative;
}
.footer__social {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 15px;
}
.footer__social a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.footer__logo {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 10%;
}

.footer__author {
  color: white;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
  }
  .footer__logo {
    display: block;
  }
}
